@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.clip-trapezium {
  clip-path: polygon(0 0, 95% 0, 78% 100%, 0% 100%);
}